@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

* {
  /*zera todas as bordas do site*/
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  /*cores*/
  --lime: #00ff00;
  --gray1: #a39797;
  --DarkMagenta: #8b008b;
  --Red: #ff0000;
  --navajo: #ffdead;
  --burly: #deb887;
  --white: #ffffff;
  --cornsilk: #fff8dc;
  --wheat: #f5deb3;
  --blanched: #ffebcd;
  --crimson: #dc143c;
  --bisque: #ffe4c4;
  --black: #000000;
  --chocolate: #d2691e;
  --sienna: #a0522d;
  --saddlebrown: #8b4513;
  --darkred: #8b0000;
  --steelblue: #4682b4;
  --dimgray: #696969;
  --lightslategray: #778899;
  --silver: #c0c0c0;
  --gray: #808080;
  --Dimgray: #696969;
  --gold: #ffd700;
}

/*GERAL*/
.link-header {
  /*CAIXA DOS ÍCONES E LINKS DO HEADER*/
  display: flex; /*alinha os itens na horizontal*/
  justify-content: space-between; /*os itens são distribuídos igualmente no espaço disponível*/
  font-size: 19px; /*altera o tamanho do texto*/
  list-style: none; /*altera o estilo da <li>*/
  cursor: pointer; /*transforma o ponteiro do mouse em uma mão clicando*/
  color: var(--DarkMagenta); /*muda a cor do texto*/

  margin-bottom: 20px; /*ajusta a margem de baixo*/
}

a {
  /*LINKS*/
  text-decoration: none; /*ajusta a decoração do texto*/
  color: var(--black); /*muda a cor do texto*/
  margin: 8px; /*ajusta as margens dos 4 lados*/
  font-size: 20px; /*altera o tamanho do texto*/
  text-transform: uppercase; /*deixa o texto em maiúsculo*/
}
.lista-header1 {
  display: flex;
  margin-left: auto;
  align-items: end;
  margin-bottom: 340px;
  gap: 80px;
}

.lista-header1 img {
  max-height: 60px;
}

li {
  /*LISTAS*/
  list-style: none; /*altera o estilo da <li>*/
}

.link-header img {
  /*IMAGENS NO LINK HEADER*/
  width: 60px; /*ajusta a largura da imagem*/
}
.lista img {
  /*IMAGENS DA LISTA DO LINK HEADER**/
  border: outset var(--black) 3px; /*cria uma borda com cor gradiante*/
  margin: 15px; /*ajusta as margens dos 4 lados*/
  border-radius: 10px; /*ajusta a curvatura os cantos*/
  padding: 5px; /*afasta para todos os lados*/
  background-color: var(--white); /*muda a cor do background*/
}
.topo-do-site {
  /*CABEÇALHO | HEADER*/
  display: flex; /*alinha os itens na horizontal*/
  background-image: url(fundo-site-2.png); /*insere uma imagem de fundo*/
  background-size: 100% 100%; /*ajusta a altura e largura da imagem de fundo ou do site*/
  background-repeat: no-repeat; /*impede a repetição da imagem ou cor de fundo*/
  background-color: var(--silver); /*altera a cor do background*/
  height: 350px; /*altera a altura da imagem*/
  justify-content: center; /*alinha os itens no centro do flex*/
}
.topo-do-site img {
  /*BANNER NO HEADER*/
  margin: -60px; /*ajusta as margens nos 4 lados*/
  max-width: 350px; /*define a largura máxima da imagem*/
  height: 400px; /*ajusta a altura da imagem*/
}

.banner-header {
  margin-left: 850px;
}
.corpo {
  /*CORPO DO SITE*/
  background-color: var(--cornsilk); /*altera a cor do background*/
  background-size: 100% 120%; /*ajusta a altura e largura da imagem de fundo ou do site*/
  background-repeat: no-repeat; /*impede a repetição da imagem ou cor de fundo*/
}
span {
  /*PREÇOS DO SITE*/
  margin-right: 10px; /*ajusta a margem direita*/
  font-size: 25px; /*altera o tamanho do texto*/
  font-family: "DM Serif Display", cursive; /*altera a fonte do texto*/
  margin: auto; /*ajusta as margens dos 4 lados*/
}
.stronger-pratos {
  /*NOME DOS PRATOS NO LINK HEADER*/
  margin-left: 24px;
}
.stronger-home {
  /*NOME DA HOME NO LINK HEADER*/
  margin-left: 27px;
}
.stronger-bebida {
  /*NOME DAS BEBIDAS NO LINK HEADER*/
  margin-left: 18px;
}
.stronger-sobremesa {
  /*NOME DAS SOBREMESAS NO LINK HEADER*/
  margin-left: 3px;
  margin-left: 5px;
}
.stronger-petisco {
  /*NOME DOS PETISCOS NO LINK HEADER*/
  margin-left: 18px;
}
.stronger-carrinho {
  /*NOME DO CARRINHO NO LINK HEADER*/
  margin-left: 15px;
}
.stronger-contato {
  /*NOME DO CONTATO NO LINK HEADER*/
  margin-left: 20px;
}
.stronger-quem {
  /*NOME DO "SOBRE" NO LINK HEADER*/
  margin-left: 4px;
}
.stronger-teste {
  margin-left: 30px; /*ajusta a margem da esquerda*/
}

.rodape {
  /*RODAPÉ TOTAL*/
  background-color: var(--gold); /*altera a cor do background*/
  font-family: "DM Serif Display", cursive; /*altera a fonte do texto*/
  font-size: 25px; /*altera o tamanho do texto*/
  justify-content: space-between; /*os itens são distribuídos igualmente no espaço disponível*/
  text-align: center; /*alinha o texto no centro do site*/
  background-size: 100% 100%; /*altera a cor do background*/
}
.hr1 {
  /*LINHA DO RODAPE*/
  width: 50%;
  margin: auto;
}
.paragrafo-rodape {
  /*ESCRITA DOS DIREITOS AUTORAIS*/
  background-color: var(--gold); /*muda a cor do background*/
}
.siga-a-gente {
  /*CLASSE DAS REDES SOCIAIS NO RODAPÉ*/
  font-size: 25px; /*altera o tamanho do texto*/
}
.div-rodape {
  /*DIVISÃO QUE MEXE NO RODAPÉ COMPLETO*/
  display: flex; /*alinha os itens na horizontal*/
  max-width: 100%; /*define a largura máxima da imagem*/
  gap: 110px; /*define o tamanho do espaço entre as linhas e entre as colunas no flexbox, grade ou layout de múltiplas colunas */
  background-color: var(
    --gold
  ); /*define o tamanho do espaço entre as linhas e entre as colunas no flexbox, grade ou layout de múltiplas colunas */
}
.rodape-lista4 {
  /*LISTA DO RODAPÉ*/
  gap: 990px; /*define o tamanho do espaço entre as linhas e entre as colunas no flexbox, grade ou layout de múltiplas colunas */
}
.rodape-cartao {
  /*FORMAS DE PAGAMENTO NO RODAPÉ*/
  display: flex; /*alinha o elementos na horizontal*/
  gap: 80px; /*dá um espaçamento entre os itens*/
  justify-content: center; /*posiciona o item no centro do flex*/
}
.titulo3-rodape {
  /*TÍTULOS DO RODAPÉ*/
  text-align: center; /*alinha o texto no centro do site*/
  font-family: "DM Serif Display", cursive; /*muda a fonte do texto*/
  color: var(--black); /*muda a cor do texto*/
  text-align: center; /*alinha os textos no centro do site*/ /*muda a cor do texto*/
  margin: 25px; /*ajusta as margens dos 4 cantos*/
  font-family: "DM Serif Display", cursive; /*muda a fonte do texto*/
}
p {
  /*PARÁGRAFOS*/
  color: var(--black); /*muda a cor do texto*/
}
/*INDEX*/
.titulo-principal {
  /*TÍTULO DO INDEX*/
  text-align: center; /*alinha o texto no centro do site*/
  font-size: 50px; /*altera o tamanho do texto*/
  font-family: "DM Serif Display", cursive; /*muda a fonte do texto*/
  margin: 10px;
}
hr {
  /*LINHA ENTRE AS DIVS E OS MENUS (sem classe)*/
  border-bottom: solid 1px var(--black); /*altera a borda de baixo*/
  margin-bottom: 30px;
}

.siga-a-gente {
  /*CLASSE DAS REDES SOCIAIS NO RODAPÉ*/
  font-size: 25px; /*altera o tamanho do texto*/
}
.div-rodape {
  /*DIVISÃO QUE MEXE NO RODAPÉ COMPLETO*/
  display: flex; /*alinha os itens na horizontal*/
  max-width: 100%; /*define a largura máxima da imagem*/
  gap: 110px; /*define o tamanho do espaço entre as linhas e entre as colunas no flexbox, grade ou layout de múltiplas colunas */
  background-color: var(
    --gold
  ); /*define o tamanho do espaço entre as linhas e entre as colunas no flexbox, grade ou layout de múltiplas colunas */
}
.rodape-lista4 {
  /*LISTA DO RODAPÉ*/
  gap: 990px; /*define o tamanho do espaço entre as linhas e entre as colunas no flexbox, grade ou layout de múltiplas colunas */
}
.rodape-cartao {
  /*FORMAS DE PAGAMENTO NO RODAPÉ*/
  display: flex; /*alinha o elementos na horizontal*/
  gap: 80px;
  justify-content: center;
}
.titulo3-rodape {
  /*TÍTULOS DO RODAPÉ*/
  text-align: center; /*alinha o texto no centro do site*/
  font-family: "DM Serif Display", cursive; /*muda a fonte do texto*/
  color: var(--black); /*muda a cor do texto*/
  text-align: center; /*alinha os textos no centro do site*/ /*muda a cor do texto*/
  margin: 25px; /*ajusta as margens dos 4 cantos*/
  font-family: "DM Serif Display", cursive; /*muda a fonte do texto*/
}
p {
  /*PARÁGRAFOS*/
  color: var(--black); /*muda a cor do texto*/
}
/*INDEX*/
.titulo-principal {
  /*TÍTULO DO INDEX*/
  text-align: center; /*alinha o texto no centro do site*/
  font-size: 50px; /*altera o tamanho do texto*/
  font-family: "DM Serif Display", cursive; /*muda a fonte do texto*/
  margin: 10px;
}
hr {
  /*LINHA ENTRE AS DIVS E OS MENUS (sem classe)*/
  border-bottom: solid 1px var(--black); /*altera a borda de baixo*/
}
button {
  /*BOTÕES DO INDEX*/
  height: 50px; /*ajusta a altura*/
  width: 100px; /*ajusta a largura*/
  border-radius: 10px; /*ajusta a curvatura das bordas*/
  margin: 5px; /*ajusta as margens dos 4 cantos da caixa*/
  cursor: pointer; /*transoforma o ponteiro do mouse em uma mão clicando*/
  font-size: 20px; /*altera o tamanho do texto*/
  font-family: "DM Serif Display", cursive; /*altera a fonte do texto*/
  margin-left: 50px; /*ajusta a margem da esquerda*/
}
.titulo2 {
  /*TÍTULO DE SUGESTÕES DO INDEX (não o sugestão container)*/
  text-align: center; /*alinha o texto no centro do site*/
  border-radius: 10px; /*ajusta a curvatura das bordas nos cantos*/
  margin: 25px; /*ajusta as margens dos 4 lados*/
  padding: 5px; /*empurra todos os lados*/
  font-family: "DM Serif Display", cursive; /*altera a fonte do texto*/
  font-size: 50px; /*altera o tamanho do texto*/
}
.titulo3 {
  /*NOMES DAS SUGESTÕES NO INDEX*/
  background-color: var(--black); /*altera a cor do background*/
  text-align: center; /*alinha o texto no centro do site*/
  color: var(--white); /*altera a cor do texto*/
  border-radius: 10px; /*ajusta a curvatura das bordas*/
  margin: 25px; /*ajusta as margens dos 4 lados*/
  font-family: "DM Serif Display", cursive; /*altera a fonte do texto*/
  border: outset var(--black) 3px; /*cria uma borda com cor gradiante*/
}
.input-botao {
  /*BOTÕES DO INDEX*/
  margin-left: 90px; /*ajusta a margem da esquerda*/
}
.sugestao-container {
  /*SECTIONS DO INDEX*/
  display: grid; /*alinha os itens em grade*/
  grid-template-columns: repeat(
    auto-fill,
    minmax(320px, 1fr)
  ); /*ajusta o display grid*/
  margin: 10px; /*ajusta as margens dos 4 lados*/
}
.sugestao-container img {
  /*IMAGENS DAS SECTIONS DO INDEX*/
  width: 310px; /*ajusta a largura da imagem*/
  margin-left: 35px; /*ajusta a margem da esquerda*/
  border-radius: 20px; /*ajusta a curvatura das bordas*/
  border: outset var(--gold) 5px; /*cria uma borda com cor gradiante*/
}
input {
  /*CAIXAS DE TEXTO DO INDEX*/
  height: 30px; /*ajusta a altura da imagem*/
  text-align: center; /*alinha o texto no centro do site*/
  font-size: 16px; /*altera o tamanho do texto*/
  margin: auto; /*ajusta as margens automaticamente*/
}

/*HOVER*/
.botao:hover {
  /*ANIMAÇÃO DOS BOTÕES NOS MENUS*/
  cursor: pointer; /*transforma o ponteiro do mouse em uma mão clicando*/
  background-color: var(--gold); /*altera a cor do background*/
}
.lista img:hover {
  /*ANIMAÇÃO DAS IMAGENS NA LISTA*/
  transition: all; /*permite transição para todos os itens selecionados*/
  transform: scale(1.2); /*ajusta a transição*/
  background-color: var(--gold); /*altera a cor do background*/
}
.links-lista:hover {
  /*ANIMAÇÃO DOS NOMES DOS LINKS NA LISTA*/
  color: var(--chocolate); /*altera a cor do texto*/
}

button:hover {
  /*BOTÕES DO CARRINHO (REMOVER)*/
  background-color: var(--chocolate);
}

/*MENUS*/
.alcool {
  /*SECTIONS DE TIPOS DE BEBIDAS NO MENU DRINKS*/
  text-align: center; /*alinha o texto no centro do site*/
  font-size: 40px; /*altera o tamanho do texto*/
  color: var(--chocolate); /*altera a cor do texto*/
  margin: 40px; /*ajusta as margens dos 4 lados*/
  font-family: "DM Serif Display", cursive; /*altera a fonte do texto*/
  color: var(--burly); /*altera a cor do texto*/
  margin: 40px; /*ajusta as margens dos 4 lados*/
}
.menu-container {
  /*SECTIONS DOS MENUS*/
  display: flex; /*alinha os itens na horizontal*/
  flex-direction: column; /*alinha os itens na vertical dentro do flex*/
}
.menu-container img {
  /*IMAGENS DAS SECTIONS DOS MENUS*/
  width: 510px; /*ajusta a largura da imagem*/
  margin-left: 35px; /*ajusta a margem da esquerda*/
  border-radius: 20px; /*ajusta a curvatura das bordas*/
  border: outset var(--gold) 10px; /*cria uma borda com cor gradiante*/
}
.hr {
  /*LINHA ENTRE AS DIVS DOS MENUS*/
  margin: 40px; /*ajusta as margens dos 4 lados*/
  background-color: var(--gold); /*altera a cor do background*/
  width: 100%; /*ajusta a largura da imagem*/
  margin-left: 0px; /*ajusta a margem da esquerda*/
  border: outset 2px var(--gold); /*cria uma borda com cor gradiante*/
}
.titulodrink {
  /*TÍTULO DO MENU DE DRINKS*/
  text-align: center; /*alinha o texto no centro do site*/
  margin: 25px; /*ajusta as margens dos 4 lados*/
  padding: 5px; /*empurra para todos os lados*/
  font-family: "DM Serif Display", cursive; /*altera a fonte do texto*/
  color: var(--black); /*altera a cor do texto*/
  font-size: 60px; /*altera o tamanho do texto*/
}
.input {
  /*CAIXAS DE TEXTO DOS MENUS*/
  height: 50px; /*ajusta a altura da imagem*/
  width: 100px; /*ajusta a largura da imagem*/
  border-radius: 10px; /*ajusta a curvatura das bordas*/
  text-align: center; /*alinha o texto no centro do site*/
  font-size: 40px; /*altera o tamanho do texto*/
  margin-right: 5px; /*ajusta a margem da direita*/
}
.botao {
  /*BOTÕES DOS MENUS*/
  height: 50px; /*ajusta a altura da imagem*/
  width: 100px; /*ajusta a largura da imagem*/
  border-radius: 10px; /*ajusta a curvatura das margens*/
  margin: auto; /*ajusta as margens automaticamente*/
  cursor: pointer; /*transforma o ponteiro do mouse em uma mão clicando*/
  font-size: 20px; /*altera o tamanho do texto*/
  font-family: "DM Serif Display", cursive; /*altera a fonte do texto*/
  margin-left: 0px; /*ajusta a margem da esquerda*/
}
.div-container {
  /*DIV DOS MENUS*/
  display: flex; /*alinha os itens na horizontal*/
}
.div-container img {
  /*DIV DAS IMAGENS DOS MENUS*/
  margin-left: 30px; /*ajusta a margem da esquerda*/
}
.descricao-menu {
  /*DESCRIÇÃO DOS PRATOS DOS MENUS*/
  font-family: "DM Serif Display", cursive; /*altera a fonte do texto*/
  font-size: 40px; /*altera o tamanho do texto*/
  /*margin: 150px; ----> /*em observação
    margin-right: 20px;*/
  margin: auto; /*ajusta as margens automaticamente*/
}
.ingredientes {
  /*INGREDIENTES NOS MENUS*/
  font-size: 25px; /*altera o tamanho do texto*/
  padding: 1px; /*empurra para todos os lados*/
  margin: auto; /*ajusta as margens automaticamente*/
  margin-bottom: 20px; /*ajusta a margem de baixo*/
  font-family: "DM Serif Display", cursive; /*altera a fonte do texto*/
}
/*SOBRE*/
.titulo-sobre {
  /*TITULO SOBRE*/
  height: 100px; /*ajusta a altura da imagem*/
  display: grid; /*alinha os itens em grade*/
  background-color: white; /*altera a cor do background*/
  color: black; /*altera a cor do texto*/
  text-align: center; /*alinha o texto no centro do site*/
}
.titulo-sobre1 {
  /*BÍBLIA DO SOBRE*/
  background-color: white; /*altera a cor do background*/
  color: black; /*altera a cor do texto*/
  text-align: center; /*alinha o texto no centro do site*/
  height: 100px; /*ajusta a altura da imagem*/
}
.titulo-sobre2 {
  /*BÍBLIA DO SOBRE2*/
  background-color: white; /*altera a cor do background*/
  color: black; /*altera a cor do texto*/
  text-align: center; /*alinha o texto no centro do site*/
  height: 100px; /*ajusta a altura da imagem*/
}
.titulo-sobre3 {
  /*BÍBLIA DO SOBRE3*/
  text-align: center; /*alinha o texto no centro do site*/
  color: black;
} /*altera a cor do texto*/

/*USER*/
.contact {
  /*CAIXA DE CONTATO*/
  background-color: var(--burly); /*altera a cor do background*/
  padding: 30px; /*empurra para todos os lados*/
  max-width: 600px; /*define a largura máxima da imagem*/
  margin-right: auto; /*ajusta a margem da direita automaticamente*/
  margin-left: auto; /*ajusta a margem da esquerda automaticamente*/
  margin-bottom: 20px; /*ajusta a margem de baixo*/
  border-radius: 10px; /*ajusta a curvatura das bordas*/
}
.contact-label {
  /*POSIÇÃO DAS CAIXAS DE TEXTO DO CONTATO*/
  display: block; /*alinha os itens na vertcial / em blocos*/
  margin-bottom: 20px; /*ajusta a margem de baixo*/
  color: var(--black); /*altera a cor do texto*/
  font-family: "DM Serif Display", cursive; /*altera a fonte do texto*/
}
.button-label {
  /*BOTÃO DO USER*/
  margin-left: auto; /*ajusta a margem da esquerda automaticamente*/
  margin-right: auto; /*ajusta a margem da direita automaticamente*/
}
.contact-field {
  /*CAIXA DE TEXTO*/
  display: block; /*alinha os itens na vertical / em blocos*/
  width: 100%; /*ajusta a largura da imagem*/
  height: 30px; /*ajusta a altura da imagem*/
  font-size: 16px; /*altera o tamanho do texto*/
  padding-left: 10px; /*empurra para a direita*/
  border: none; /*tira as bordas*/
}
/*TESTE CARRINHO*/
.carrinho-container {
  text-align: center; /*alinha o texto no centro do site*/
  /* background-color: var(--black); /*altera a cor do background*/
  color: var(--darkred); /*altera a cor do texto*/

  display: flex; /*alinha os itens na horizontal*/
  justify-content: center; /*alinha os itens dentro do flex*/
  margin: 50px;
}
.div-h2 {
  display: flex;
  justify-content: center;
}
.carrinho-botao-finalizar {
  font-family: "DM Serif Display", cursive;
  display: flex;
  justify-content: center;
}
.input-botao {
  /*botões do index*/
  margin-left: 90px;
}
.sugestao-container {
  /*sessão | index*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  margin: 10px;
}
.sugestao-container img {
  /*imagem | sessão | index*/
  width: 310px;
  margin-left: 35px;
  border-radius: 20px;
  border: outset var(--gold) 5px;
}
input {
  /*caixas de texto do index*/
  height: 30px;
  text-align: center;
  font-size: 16px;
  margin: auto;
}

/*MENUS*/
.alcool {
  /*sessões de drinks | menus*/
  text-align: center;
  font-size: 40px;
  color: var(--chocolate);
  margin: 40px;
  font-family: "DM Serif Display", cursive;
  color: var(--dimgray);
  margin: 40px;
}
.menu-container {
  /*Sessão | menus*/
  display: flex;
  flex-direction: column;
}
.menu-container img {
  /*imagem | sessão | menus*/
  width: 510px;
  margin-left: 35px;
  border-radius: 20px;
  border: outset var(--gold) 10px;
}
.hr {
  /*espaços entre as divs dos menus*/
  margin: 40px;
  background-color: var(--gold);
  width: 100%;
  margin-left: 0px;
  border: outset 2px var(--gold);
}
.titulodrink {
  /*Usado no menu de drinks*/
  text-align: center;
  margin: 25px;
  padding: 5px;
  font-family: "DM Serif Display", cursive;
  color: var(--black);
  font-size: 60px;
}
.input {
  /*caixas de texto dos menus*/
  height: 50px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
  margin-right: 5px;
}
.botao {
  /*botões dos menus*/
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
  font-size: 20px;
  font-family: "DM Serif Display", cursive;
  margin-left: 0px;
}
.div-container {
  /*div das imagens dos menus*/
  display: flex;
  flex-direction: initial;
}
.div-container img {
  /*usado para tirar a margin-left das imagens do menu*/
  margin-left: 30px;
}
.descricao-menu {
  /*descrição dos pratos dos menus*/
  font-family: "DM Serif Display", cursive;
  font-size: 40px;
  /*margin: 150px; ----> /*em observação
    margin-right: 20px;*/
  margin: auto;
}
.ingredientes {
  /*parágrafo dos menus*/
  font-size: 25px;
  padding: 1px;
  margin: auto;
  margin-bottom: 20px;
  font-family: "DM Serif Display", cursive;
}

/*SOBRE*/
.titulo-sobre {
  /*Título sobre*/
  height: 100px;
  display: grid;
  background-color: white;
  color: black;
  text-align: center;
}
.titulo-sobre1 {
  /*bíblia do sobre*/
  background-color: white;
  color: black;
  text-align: center;
  height: 100px;
}
.titulo-sobre2 {
  /*bíblia do sobre*/
  background-color: white;
  color: black;
  text-align: center;
  height: 100px;
}
.titulo-sobre3 {
  /*bíblia do sobre*/
  text-align: center;
  color: black;
}

/*USER*/
.contact {
  /*caixa de contato*/
  background-color: var(--burly);
  padding: 30px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}
.contact-label {
  /*caixas das caixas de texto*/
  display: block;
  margin-bottom: 20px;
  color: var(--black);
  font-family: "DM Serif Display", cursive;
}
.button-label {
  margin-left: auto;
  margin-right: auto;
}
.contact-field {
  /*caixa de texto*/
  display: block;
  width: 100%;
  height: 30px;
  font-size: 16px;
  padding-left: 10px;
  border: none;
}

/*carrinho teste*/
.carrinho-container {
  text-align: center;
  color: var(--black);
}
